<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>18/10/28 14:03:52</td>   <td>0</td> <td title="&gt;&gt;Reporter.startResult()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:03:52</td>   <td>436</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:03:52</td>   <td>445</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeTest()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/10/28 14:03:52</td>   <td>448</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:03:52</td>   <td>466</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:03:54</td>   <td>1995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/10/28 14:04:27</td>   <td>35201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">createLead</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:06:28</td>   <td>156823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:06:29</td>   <td>156907</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterClass()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:06:29</td>   <td>156911</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/10/28 14:06:29</td>   <td>157034</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 14:06:29</td>   <td>157792</td> <td title="&lt;&lt;Reporter.endResult()[pri:0, instance:pages.TC001_CreateLead@4fe3c938]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
</table>
